.game-holder {
  position: relative;
  height:   768px;
  width:    1024px;
  background-image: url('./img/bkgd_n_steps.png');
}
.page-title {
  z-index: 4;
  position: absolute;
  left: 312px;
  top: 20px;
}


.temple-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.temple-building {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}
.gate {
  z-index: 2;
  position: absolute;
  height:355px;
  width: 485px;
  left: 269px;
  top: 0px;
}
.sprite-div {
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
}
#ninja-sprite {
  z-index: 1;
  background-image: url('img/ninjaspritesheet.png');
  width: 135px;
  height: 325px;
  background-position: -1215px 0px;
  left: 460px;
  top: 240px;
}
.letter-row {
  position: relative;
}
#top-letter-row {
  top: 320px;
  left:122px;
}
#bottom-letter-row {
  top:  385px;
  left: 122px;
}

.sprite-letter {
  z-index:          5;
  height:           60px;
  width:            60px;
  background-image: url('img/alphabetspritesheet.png');
  display:          inline-block;
  background-clip:  border-box;
}


.answer-letter-list {
  list-style-type: none;
  padding:         0 122px;
  position:        absolute;
  top:             560px;
  left:            0px;
  z-index:         100;
}


.hanging-rod {
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 79px;
}
.lantern-flicker {
  top: -12px;
  z-index: 4;
  height:100px;
  width: 112px;
  background-image: url('img/lantern_glow_sprite_sheet.png');
  background-position: -224px 0px;
  /*border: 1px red solid;*/
}
.lantern-holder {
  z-index: 5;
  position: relative;
  top:115px;
  left: 79px;
  width: 866px;
  height: 100px;
  padding: 0;
  list-style-type: none;
}
.lantern {
  z-index: 5;
  height: 98px;
  width: 78px;
  background-image: url('img/lantern_sprite_sheets.png');
  background-position: -78px 0px;
  position: absolute;
  top: 0;
}
.lantern-letter {
  /*display: none;*/
  text-align: center;
  font-size: 30px;
  margin: 0px;
  margin-top: 20px;
}
.side-light-holder {
  z-index: 1;
  position: relative;
  width: 127px;
  height: 155px;
  margin: 0px;
  display: inline-block;
}
.side-light-flicker {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 4px;
  height: 118px;
  width: 118px;
  background-image: url('img/pagoda_glow_sprite_sheet.png');
}
.side-light {
  position: absolute;
  z-index: 5;
}
#left-light-holder {
  left: 20px;
  top: 320px;
}
#right-light-holder {
  left: 745px;
  top: 320px;
}








.letterHolder {
  border-radius: 5px;
  height: 40px;
  width: 40px;
  border: 1px blue solid;
  display: inline-block;
  vertical-align: top;
}

.letter {
  font-size: 1.2em;
  text-align: center;
  vertical-align: top;
}

.guessed {
  /*background-color: #A8A8A8;*/
}

.wordDisplay {
  border-radius: 5px;
	border: 1px black solid;
  height: 60px;
}

.hangmanSpriteHolder {
  overflow: hidden;
  height: 226px;
  width: 315px;
  position: relative;
}

#hangmanSprite {
  top: 0px;
  left: 0px;
  position: absolute;
}

body {
  background-color: black;
}

/*#testDiv{
  height: 100px;
  border: 1px black solid;

}*/
