.letterHolder{
  border-radius: 5px;
  height: 40px;
  width: 40px;
  border: 1px blue solid;
  display: inline-block;
  vertical-align: top;
}

.letter{
  font-size: 1.2em;
  text-align: center;
  vertical-align: top;
}

.correct{
  background-color: green;

}

.incorrect{
  background-color: red;

}

.guessed{
  background-color: red;
}

#wordDisplay {
  border-radius: 5px;
	height: 72px;
	border: 1px black solid;

}

/*#testDiv{
  height: 100px;
  border: 1px black solid;

}*/
